<html>
    <body>
        
        <form action="/insertemployee" method="post">
              EmployeeId: <input type="text" id="eid" name="eid">
              EmployeeName: <input type="text" id="ename" name="ename">
              EmpSalary: <input type="text" id="sal" name="sal">
             <button type="submit" id="btn"  name="btn" value="btn">AddEmp</button>

        </form>
    </body>
</html>