<html>
    <body>
        
        <form action="/updateemployee" method="post">
             Employee id:<input type="text" id="eid" name="eid" value="<%=emp.empid%>">
             Employee Name:<input type="text" id="ename" name="ename" value="<%=emp.ename%>">
             Employee salary:<input type="text" id="sal" name="sal" value="<%=emp.sal%>">
             <button type="submit" id="btn" name="btn" value="btn">UpdateEmployee</button>

        </form>
    </body>
</html>