<html>
  <form action="/insertproduct" method="post">
    Product id: <input type="text" id="pid" name="pid" > Product Name:
    <input type="text" id="pname" name="pname" > Price:
    <input type="text" id="price" name="price" >
    <button type="submit" id="btn" name="btn" value="btn">Add product</button>
  </form>
</html>
